.hpp-dtc-m-hero .content {
    padding: 0 1rem !important;
}

.hpp-dtc-m-hpp-patient-support-form_form .btn {
    font-family: azo-sans-web, Arial, sans-serif;
    color: var(--dark-green);
    background: transparent;
    border-radius: 0;
    border: 1px solid var(--dark-green);
    font-weight: 700;
    font-size: 14px;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    transition: all .3s ease-out;
    letter-spacing: .1em;
    position: relative;
    z-index: 2;
    cursor: pointer;
    text-align: center;
}

.hpp-dtc-m-hpp-patient-support-form_form .btn:hover,
.hpp-dtc-m-hpp-patient-support-form_form .btn:focus {
    background-color: var(--dark-green);
}

form .select-wrap:after {
    top: 48px;
}

.form-control {
    border: none;
    height: 4.8rem;
    font-size: 1.6rem;
    background-color: #f8f8f8
}

.form-container .invalid-feedback {
    font-family: azo-sans-web, sans-serif;
    font-size: 1.8rem;
    line-height: 3rem;
}

.form-group label {
    font-size: 1.6rem;
    font-family: azo-sans-web, sans-serif;
}

.form-group .form-check {
    padding-left: 0;
    padding-bottom: 1.5rem;
}

.form-check .form-check-input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-check label {
    font-size: 1.4rem;
    position: relative;
    cursor: pointer;
    margin-left: 3rem;
    padding-right: .7rem;
}

.nav-only-desktop {
    display: none;
}

.form-check label::before {
    content: "";
    -webkit-appearance: none;
    background-color: var(--white);
    border: 0.1rem solid #969696;
    padding: 0.9rem;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.5rem;
    left: -3.1rem;
    margin-top: 0;
}

.form-check input:checked+label::before {
    background-color: var(--green);
    border-color: var(--green);
}

.form-check input:checked+label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.5rem;
    left: -2.3rem;
    width: 0.4rem;
    height: 1.1rem;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hpp-dtc-m-form.container {
    max-width: 850px;
    margin-top: 0;
    position: relative;
    z-index: 2;
}

.link.cta.cta__white {
    text-decoration: none !important;
}

.checkbox-box:before,
.radio-box:before {
    border-radius: 0px;
}

.description::before {
    font-size: 19rem;
    top: 7rem !important;
    left: -6.6rem;
}

.description {
    position: relative;
}

.hpp-dtc-footer a:hover {
    color: #fff;
}

.hpp-dtc-m-form__body_submit {
    transition: all 0.3s ease-in-out;
    margin-bottom: 6rem;
}

.hpp-dtc-m-form__body_submit:hover,
.hpp-dtc-m-form__body_submit:focus {
    background-color: var(--dark-green);
    color: var(--white);
}

[data-module=PageSubnav] {
    background-color: var(--white);
}

@media (min-width: 230px) and (max-width: 1023px) {
    .hpp-dtc-m-hero.internal-hero.here-for-you-hero .content .hero-box.quote {
      padding-left: 3rem !important;
        margin: 20px 5rem;
    }

    .internal-navegator {
        display: none !important;
    }

    .hpp-dtc-life-with__content .description::before {
        left: 0rem !important;
    }
   .hero-box .patient-info{
    padding-bottom: 40px;
   }

}

@media (min-width: 230px) and (max-width:767px) {
    .hpp-dtc-m-hero.internal-hero.here-for-you-hero .content .hero-box.quote {
        margin: 25px;
    }
    .hpp-dtc-life-with__content .description{
        padding: 21px;
        padding-bottom: 0px;
        margin-bottom: 38px;
    }
    .hpp-dtc-m-hero.here-for-you-hero .content .pre-title {
        position: relative;
        top: 16px;
        right: 25px;
    }

    .hpp-dtc-life-with__content .description::before {
        font-size: 15rem;
        top: 7.1rem !important;
    }
    .hero-box .header{
        font-size: 42px!important;
    }

    .peer-subnav .jumpbtn {
        margin-top: -75px !important;
    }
}

@media (max-width: 767px) {
    .hpp-dtc-m-hero .content {
        margin-top: 15rem !important;
    }
}

@media (min-width: 992px) {
    .hpp-dtc-life-with__content .description::before {
        top: 3rem !important;
        left: -7rem !important;
    }

    [data-module=PageSubnav] {
        margin-top: 2rem !important;
    }

    [data-module=HeroModule] .row.mx-0:after {
        content: "";
        background: #fff;
        box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
        -webkit-box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
        -moz-box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
        background: #fff;
        border-top-left-radius: 100px;
        position: relative;
        display: block;
        left: 0;
        bottom: 0;
        z-index: -1;
        height: 100px;
        width: 100%;
    }

    .hpp-dtc-m-hero.internal-hero.here-for-you-hero .content {
        margin-top: 15rem;
        margin-bottom: 25px;
        /* padding-right: 2.5rem !important; */
    }

    [data-module=PageSubnav] {
        border-top-left-radius: 50px;
    }
}

@media screen and (min-width: 992px) {
    .hpp-dtc-m-hero .content {
        line-height: 1;
        padding: 0 15px !important;
    }

    .hpp-dtc-m-hero.internal-hero.here-for-you-hero .content .pre-title {
        margin-top: 8px;
    }
}

@media screen and (max-width: 1023px) {
    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        top: -110px;
    }
}

@media screen and (min-width: 1024px) {
    .nav-only-desktop {
        display: block;
    }
}

@media screen and (max-width: 375px) {
    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        top: -63px;
    }

    .body.font-azo-sans.left-align.description {
        margin-bottom: 15px !important;
    }

    h3.header.upper {
        margin-bottom: -0.5rem !important;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        top: -51px;
    }

    .body.font-azo-sans.left-align.description {
        margin-bottom: 15px !important;
    }

    h3.header.upper {
        margin-bottom: -0.5rem !important;
    }
}