.hpp-dtc-m-hero .hero-bg::before {
    display: none;
}

[data-module=HeroModule] .row.mx-0:after {
    content: "";
    background: #fff;
    box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
    -webkit-box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
    -moz-box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
    border-top-left-radius: 100px;
    position: relative;
    display: block;
    left: 0;
    bottom: 0;
    z-index: -1;
    height: 100px;
    width: 100%;
}

.pagesubnavstickpoint {
    background-color: white;
}

.hpp-dtc-life-with__content .description::before {
    top: 5rem !important;
    left: -7rem;
}

.hpp-dtc-life-with__content .logo {
    margin-left: 0;
}

.hpp-dtc-m-hero .content {
    padding: 0 1rem !important;
}

.hpp-dtc-m-form.container {
    max-width: 850px;
}

.link.cta.cta__white {
    text-decoration: none !important;
}

.checkbox-box:before,
.radio-box:before {
    border-radius: 4px;
}

.description::before {
    font-size: 19rem;
    top: 7rem !important;
    left: -6.6rem;
}

.description {
    position: relative;
}

.hpp-dtc-footer a:hover {
    color: #fff;
}

.mainheading {
    font-size: 45px !important;
    margin: 0 0 50px !important;
}

.hpp-dtc-m-card_btn {
    text-transform: uppercase;
}

.hpp-dtc-m-card h4 {
    color: var(--dark-green);
    font-family: 'Druk-bold';
    font-size: 30px;
    text-transform: uppercase;
}

.hpp-dtc-m-card h4 sup {
    font-size: 25px;
    top: -4px;
}

.hpp-dtc-m-card_btn.link:hover {
    background-color: #005d55;
}

.hpp-dtc-m-card_btn.link:hover span {
    color: #fff !important;
}

.hpp-support-elx .hpp-dtc-m-card_link-arrow {
    padding-top: 0.7rem;
}

.hpp-support-elx .hpp-dtc-m-card_btn {
    width: 18.3rem;
    font-size: 1.4rem;
}

.heecol .hero-box {
    align-self: flex-start !important;
    max-width: 56rem !important;
}

.heecol .hero-box .hpp-dtc-m-card_btn {
    border: 1px solid #fff;
    margin-top: 20px;
    width: auto;
    color: #fff !important;
    text-align: center;
    padding: 8px 0;
}

.heecol .hero-box .hpp-dtc-m-card_btn:hover {
    background-color: #fff;
    color: #000000 !important;
}

.heecol .hpp-dtc-m-card_btnCaption {
    padding: 0;
}

.hpp-dtc-m-card_btnCaption {
    padding-top: 1rem;
    font-family: 'azo-sans-web';
}

.heecol .hero-box .hpp-dtc-m-card_btn:hover span {
    color: #000000 !important;
}

.mainheading.mab20 {
    margin-bottom: 32px !important;
}

.hpp-dtc-m-form__body_submit {
    margin-top: 3.5rem;
    margin-inline: auto;
    text-transform: uppercase;
    background-color: var(--white);
    border: 1px solid var(--dark-green);
    padding: 1.1rem 2.1rem;
    font-size: 1.6rem;
    letter-spacing: .16rem;
    font-weight: 600;
    color: var(--dark-green);
}

.hpp-dtc-m-form__body_submit:hover {
    background-color: #005D55 !important;
    color: #fff !important;
}

.link {
    text-decoration: none !important;
}

.none.active {
    color: #005d55 !important;
}


.contact-links {
    align-items: center;
}

.contact-links .contact-link-main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
}

.contact-links .contact-link-main a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.card-arrow-icon {
    background-image: url('/images/getting-started-on-strensiq/darrow.svg');
    width: 22px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    /* transition: all 0.1s ease; */
}

.hpp-dtc-m-card_btn.link:hover .card-arrow-icon,
.hpp-dtc-m-card_btn.link:focus .card-arrow-icon {
    background-image: url('/images/getting-started-on-strensiq/darrow_white.svg');
}

.hpp-dtc-m-card_btn.link .card-arrow-icon.arrow-right,
.hpp-dtc-m-card_btn.link .card-arrow-icon.arrow-right,
.hpp-dtc-m-card_btn.link:hover .card-arrow-icon.arrow-right,
.hpp-dtc-m-card_btn.link:focus .card-arrow-icon.arrow-right {
    background-image: url('/images/getting-started-on-strensiq/text-link.svg');
    height: 15px;
    width: 18px;
    background-size: contain;
    top: 2px;
}

.hpp-dtc-m-card_btn.link:hover .card-arrow-icon.arrow-right,
.hpp-dtc-m-card_btn.link:focus .card-arrow-icon.arrow-right {
    /* rotate 45 deg */
    background-image: url('/images/getting-started-on-strensiq/text-link_white.svg');
    top: -4px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    width: 22px;
}

@media screen and (min-width: 768px) {
    .hpp-support-elx .hpp-dtc-m-card {
        min-height: 52rem;
    }

}

@media (min-width: 230px) and (max-width: 767px) {

    .journey-from-prescription-container .imgzoom .mainheading {
        font-size: 30px !important;
        line-height: 32px !important;
    }

    .hpp-dtc-pharmacy-support__content .main-content-holder .subTitle {
        font-size: 18px;
    }

    .heecol {
        padding-top: 20%;
    }

    .hpp-dtc-m-card.global-genes .hpp-dtc-m-card_text,
    .hpp-dtc-m-card.nord .hpp-dtc-m-card_text {
        font-size: 16px;
        line-height: 26px;
    }

    #support h2 {
        padding: 0 40px;
        font-size: 41px !important;

    }

    .hpp-dtc-m-hero .content {
        padding: 0 22px !important;
    }

    [data-module=PageSubnav] {
        margin-top: 40px !important;
    }

    .hpp-dtc-m-hpp-patient-advocacy_header {
        line-height: 42px !important;
        font-size: 42px !important;
    }

    .hpp-support-elx {
        margin-top: 50px;
    }

    .internal-navegator {
        display: none
    }

    .jumpbtn {
        margin-top: -30px !important;
    }

    .hpp-dtc-m-hero.internal-hero.resources-hero .content .hero-box {
        padding-right: 3.8rem !important;
    }

    .heecol .hero-box .hpp-dtc-m-card_btn {
        font-size: 12px !important;
    }

    .hpp-dtc-life-with__content .description::before {
        left: 0rem !important;
    }

    .image-holder .logo {
        margin: 0 !important;
        padding: 0px !important;
        width: 240px !important;
    }

    .m-block {
        display: block !important;
    }

    .cards-container {
        flex-direction: column;
    }

    .resources-hero .pre-title {
        position: relative;
        top: 13%;
        left: -1%;
    }

    .resources-hero .resources-hero-content {
        position: relative;
        top: 12%;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .hpp-dtc-m-hero.internal-hero.resources-hero .content .hero-box {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
        padding-right: 5rem !important;
        padding-left: 5rem !important;
    }

    .internal-navegator {
        display: none !important
    }

    .jumpbtn {
        margin-top: -30px !important;
    }
}

.resources-section .imgzoom picture:after {
    background-image: url(../images/how-strensiq-helps/tap-to-zoom.svg);
    display: none;
}

@media (max-width: 1023px) {
    .resources-section .imgzoom picture:after {
        display: block;
    }
}

@media (min-width: 1024px) and (max-width: 9999px) {

    /* [data-module=PageSubnav] .pagesubnavcntr span,
    [data-module=PageSubnav] .pagesubnavcntr span:hover,
    [data-module=PageSubnav] .pagesubnavcntr span>button {
        margin-right: 15px;
    } */
}

@media screen and (min-width: 992px) {

    .resources-hero .resources-hero-content {
        position: relative;
        /* left: -5%; */
    }

    .hpp-dtc-m-hero.internal-hero .content {
        margin-bottom: 30px;
        padding: 0 15px !important;
    }

    .hpp-dtc-m-hero.internal-hero.resources-hero .content .pre-title {
        position: relative;
        left: 0;
        margin-top: 24px;
    }

    .hpp-dtc-m-hero .content {
        padding-right: 2.25rem !important;
    }

    .hpp-dtc-life-with__content .description::before {
        top: 4rem !important;
    }

    .hpp-dtc-life-with__content .logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media screen and (max-width: 767px) {

    .cards-container {
        justify-content: center;
        align-items: center;
        display: flex !important;
    }

    .hpp-dtc-m-hero .content {
        margin-top: 16rem !important;
    }
}

@media screen and (max-width: 1023px) {

    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        top: -110px;
    }
}

@media (max-width: 767px) {

    .header.upper {
        font-size: 42px !important;
        letter-spacing: 1.22px !important;
    }

    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        height: 28.4rem;
        object-fit: cover;
        object-position: top right;
        width: 100%;
    }

    .journey-from-prescription-container {
        padding-bottom: 0;
        border: none;
    }

    .journey-from-prescription-container .subTitle {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.18px;
    }

    .journey-from-prescription-container .container-fluid .imgzoom {
        border-bottom: .1rem solid #eaeaea;
        margin-bottom: 6rem;
        padding-bottom: 6rem;
    }

    .journey_prescription {
        padding-bottom: 6rem !important;
    }

    .heecol.hpp-dtc-m-hero .content {
        margin-top: 7rem !important;
    }

    .hpp-dtc-m-hpp-patient-advocacy {
        padding-top: 0px !important;
    }

    .mainheading {
        font-size: 41px !important;
        letter-spacing: 1.44px !important;
        padding: 0 25px;
    }
}

@media (max-width: 1023px) {
    .hpp-dtc-m-hero .hero-bg::before {
        display: none;
    }
}

@media (min-width: 992px) {
    .hpp-dtc-m-hero .hero-bg::before {
        content: "";
        display: block;
        height: 7.8rem;
        opacity: .6;
        background: #000;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, #000 100%);
        position: absolute;
        width: 100%;
    }

    .heecol.hpp-dtc-m-hero.internal-hero .content {
        justify-content: center;
    }

    .heecol.hpp-dtc-m-hero.internal-hero .content .hero-box {
        min-height: auto !important;
        padding-bottom: 5.7rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .hpp-dtc-m-hpp-patient-advocacy .cards-container {
        max-width: 99%;
    }

    .hpp-dtc-m-card {
        width: auto;
    }

    .hpp-dtc-m-hero.internal-hero {
        min-height: auto;
    }

    .heecol.hpp-dtc-m-hero.internal-hero .content .hero-box {
        margin-left: 6rem;
    }

    .hpp-dtc-life-with__content .logo {
        margin-left: 45px;
    }

    /* .hpp-dtc-life-with__content .content-holder {
        margin-left: -80px;
    } */
}

@media screen and (max-width: 375px) {
    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        top: -130px !important;
    }

    .content.resources-hero-box__container {
        margin-top: 14rem !important;
    }

    .hpp-dtc-life-with__content.container .content-holder {
        margin: 0 !important;
        justify-content: center;
        gap: 2rem;
    }

    .hpp-dtc-life-with__content .content-holder .title {
        font-size: 42px !important;
        letter-spacing: 1.47px;
    }

    .hpp-dtc-life-with__content .content-holder .logo {
        margin: 0;
        padding: 0;
    }

    .hpp-dtc-life-with__content .content-holder .description::before {
        top: 5.5rem !important;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        top: -89px !important;
    }

    .content.resources-hero-box__container {
        margin-top: 18rem !important;
    }

    .hpp-dtc-life-with__content.container .content-holder {
        margin: 0 !important;
        justify-content: center;
        gap: 2rem;
    }

    .hpp-dtc-life-with__content .content-holder .title {
        font-size: 42px !important;
        letter-spacing: 1.47px;
    }

    .hpp-dtc-life-with__content .content-holder .logo {
        margin: 0;
        padding: 0;
    }

    .hpp-dtc-life-with__content .content-holder .description::before {
        top: 5.5rem !important;
    }
}