/* Tablet Styles */

.tablet-jumpbtn {
    display: none;
}

.desktop-jumpbtn {
    display: block;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 2
}

@media (min-width:767px) and (max-width:991px) {
    .isi-header strong {
        font-weight: 700 !important;
    }

    .jumpbtn img {
        margin: auto;
        display: block;
    }

    .tablet-jumpbtn {
        display: block;
    }

    .desktop-jumpbtn {
        display: none;
    }

    .hpp-dtc-m-hero.home-hero .content {
        margin-bottom: 0;
    }

    .home-hero .hero-box {
        margin-top: 11rem;
    }

    .hpp-dtc-m-hero.internal-hero.what-is-hpp-hero .hero-box {
        padding-top: 3.5rem;
        padding-bottom: 4.5rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .hero-box h3::before {
        top: 1.6rem;
    }

    .internal-hero.live-with-confidence-hero .hero-box {
        padding-left: 6rem;
    }

    .hpp-dtc-m-hero.internal-hero .content .hero-box h3 {
        font-size: 4.6rem;
        line-height: 4.6rem;
    }

    .hpp-flex .content {
        margin-top: 0px;
    }

    .hpp-dtc-m-hero.internal-hero .content .pre-title {
        margin-top: 6rem;
    }

    .hpp-dtc-m-hero.internal-hero.here-for-you-hero .content .pre-title {
        margin-top: 6rem;
        padding: 0 5rem;
    }

    .hpp-dtc-m-hero.internal-hero.resources-hero .content .pre-title {
        margin-top: 8rem;
        padding: 0 5rem;
    }

    .hpp-dtc-m-hero.internal-hero.what-is-hpp-hero .content .pre-title,
    .hpp-dtc-m-hero.internal-hero.how-sq-helps .content .pre-title,
    .hpp-dtc-m-hero.internal-hero.hpp-star-section .content .pre-title {
        margin-top: 4rem;
    }

    .hpp-star-section .hpp-dtc-life-with__content {
        padding: 8rem 0 3rem 0;
    }

    .hpp-dtc-m-hero.internal-hero.starting-strensiq-hero .content .pre-title {
        margin-top: 1rem;
    }

    .hpp-dtc-m-hero.internal-hero.starting-strensiq-hero .content .hero-box h3 {
        font-size: 5.6rem;
        line-height: 5.6rem;
    }

    .hpp-dtc-m-hero.internal-hero.resources-hero .content .hero-box h3 {
        font-size: 56px;
        margin-right: 0;
        line-height: 56px;
    }

    .hpp-dtc-m-hero.internal-hero .content .hero-box {
        padding-left: 6rem !important;
        margin-top: 3rem;
        min-height: auto;
    }

    .how-sq-works.internal-hero .content .hero-box {
        margin-top: 8rem;
    }

    .how-sq-works.internal-hero .content .hero-box.replace {
        margin-top: 4rem;
    }

    .imgzoom {
        padding: 0;
    }

    .stq-chart p {
        float: left;
    }

    .how-sq-helps .imgzoom picture:after {
        left: unset !important;
        right: 0px;
    }

    .l-col-12--md {
        width: 100% !important;
    }

    .improvements-section {
        padding-bottom: 0px !important;
    }

    .improvements-section .rteblock {
        max-width: 100% !important;
    }

    .stq-chart-improvements-study img,
    .stq-chart-mobility img {
        max-width: 70%;
        margin: 3rem auto;
        display: block;
    }

    .how-sq-helps.references-section {
        margin-top: 0 !important;
    }

    .strensiq-side-effects img {
        padding-bottom: 0px !important;
    }

    .how-sq-helps .imgzoom .strensiq-side-effects:after {
        display: none;
    }

    .tap-zoom {
        display: block !important;
        margin: auto;
        width: 150px;
        margin-bottom: 60px;
    }

    .hpp-dtc-lets-connect_cards .card {
        align-items: flex-start;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect_cards.step-2 .card {
        flex-direction: row !important;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect_cards.step-2 .card .description {
        margin: 2rem !important;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect_cards.step-2 .card .icon.check {
        align-self: center !important
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .row .form {
        margin: 0 5% !important;
        min-width: 90% !important;
        border-radius: 3rem !important;
        padding: 5rem !important;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .form-row .form-control.txtZipCode,
    .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .form-row .form-control#iam,
    .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .form-row .form-control#phone {
        width: auto;
    }

    .hpp-dtc-lets-connect_form .message {
        max-width: 100%;
    }

    .hpp-dtc-life-with__content .content {
        margin-bottom: 1rem;
    }

    [data-module=PageSubnav] .jumpbtn {
        margin-top: -20px !important;
    }

    .skeletonarea:before {
        left: -15%;
        width: 130%;
    }

    .hpp-dtc-icons-panel__content .content-holder .image-holder .logo {
        width: 150px;
        margin-top: 0rem;
        margin-right: 0rem;
    }

    .hpp-dtc-icons-panel__content .hpp-dtc-callout-fill {
        width: 98%;
    }

    .peer-connect .hpp-dtc-life-with__content {
        padding: 8rem 0 2rem 0;
    }

    .hpp-dtc-m-hero.internal-hero.peer-connect .content .hero-box.quote p {
        padding-left: 11.8rem;
        margin-bottom: 1rem;
        padding-bottom: 20px;
    }

    .hpp-dtc-life-with__content .description::before {
        top: 18rem !important;
    }

    .hpp-star-section .description::before {
        top: 28.7rem !important;
        left: 17rem;
    }

    .hpp-dtc-m-hero.internal-hero.hpp-star-section .content .hero-box {
        padding-left: 6rem !important;
        margin-top: 3rem;
        min-height: auto;
        padding-right: 5.3rem !important;
    }

    .hpp-dtc-life-with__content .description.home-quote::before {
        top: 13rem !important;
    }

    .hpp-dtc-m-hero.internal-hero.how-to-use .content .pre-title {
        line-height: 2.3rem;
        margin-top: 5rem;
    }

    .hpp-dtc-life-with__content {
        padding: 8rem 0 7rem 0;
    }

    .two-cols-hpp .hpp-image {
        width: 150px;
    }

    .how-sq-works .l-grid {
        padding-right: 40px;
        padding-left: 40px;
    }

    .hpp-dtc-footer__content {
        padding-left: 60px;
        padding-right: 60px;
    }

    .studied-section .l-row {
        margin-top: 0px !important;
    }

    .studies-text__container {
        margin-top: 50px;
    }

    .how-sq-helps[data-module=Numbers] {
        margin-top: 0 !important;
    }

    .how-sq-helps[data-module=Numbers] .numberwheelcntr+h3 {
        padding: 0 20px;
    }

    .how-sq-helps[data-module=FullStack] {
        /*padding-top: 0 !important;*/
        margin-top: 0 !important;
    }

    .hpp-dtc-m-next-steps-form_form {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }

    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        top: 0px;
    }

    .hpp-dtc-m-hero.internal-hero.what-is-hpp-hero .hero-bg img {
        top: 46px;
    }

    .hpp-dtc-m-hero.internal-hero.resources-hero:first-of-type .hero-bg img {
        top: -115px !important;
    }

    .hpp-dtc-m-hero.internal-hero.resources-hero.heecol .hero-bg img {
        top: -65px !important;
    }

    .hpp-dtc-m-hero.internal-hero.here-for-you-hero .hero-bg img {
        top: -110px !important;
    }

    .hpp-dtc-m-hero.internal-hero.here-for-you-hero.peer-connect .hero-bg img {
        top: -90px !important;
    }

    .hpp-dtc-m-hero.internal-hero.here-for-you-hero .content,
    .hpp-dtc-m-hero.internal-hero.live-with-confidence-hero .content {
        margin-bottom: 6rem;
    }

    [data-module=HeroModule] .row.mx-0:after {
        height: 0px !important;
    }

    .journey-from-prescription-container {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }

    .hpp-dtc-pharmacy-support__content {
        display: inline-block;
        position: relative;
        border-bottom: none;
    }

    .hpp-dtc-pharmacy-support__content:after {
        position: absolute;
        content: '';
        border-bottom: .1rem solid #eaeaea;
        width: 85%;
        transform: translateX(-50%);
        bottom: -15px;
        left: 50%;
    }

    .tips-image-size.injection-tips,
    .tips-image-size1.injection-tips {
        width: 77.73px !important;
    }

    #injectiontips .tips-image-size.injection-tips,
    #injectiontips .tips-image-size1.injection-tips {
        width: 71px !important;
    }

    .here-for-you-hero .hpp-dtc-life-with__content .description::before {
        top: 0rem !important;
    }

    .here-for-you-hero.peer-connect .hpp-dtc-life-with__content .description::before {
        top: 6rem !important;
        left: 5rem !important;
    }

    .hpp-dtc-m-hero.internal-hero.here-for-you-hero.peer-connect .content .hero-box.quote {
        padding-left: 6rem !important;
        margin: 20px 5rem;
    }

    .iconpanel .subhead,
    .iconpanel h5 {
        text-align: left;
    }

    .self-injection .rteblock {
        padding-left: 20px;
    }

    .self-injection .rteblock p {
        text-align: left;
    }

    .medical-alert-card {
        display: flex;
    }

    .medical-alert-card h3 {
        text-align: left;
    }

    .resources-injection-site-padding,
    .strensiq-injection-padding {
        padding: 0px 45px;
    }

    .resources-injection-heading {
        text-align: left;
    }

    .download-guide {
        text-align: left;
    }

    .strensiq-injection-heading {
        text-align: left;
    }

    .strensiq-injection-background .subhead {
        text-align: left;
    }

    .textcntr {
        align-self: center;
    }

    .howtostorestrensiq {
        padding-right: 5% !important;
        padding-left: 5% !important;
    }

    header.mobile-header .mobile-header__container--menu-opened .right-content {
        opacity: 1 !important;
    }

    header.mobile-header .mobile-header__container .mobile-header__sidenav {
        padding: 30px 80px !important;
    }

    header.mobile-header .sidenav__menu .sidenav__menu-item:not(:last-of-type),
    header.mobile-header .sidenav__menu .sidenav__menu-group {
        width: 60%;
    }

    header.mobile-header .sidenav__menu .sidenav__menu-group.last {
        border: none;
    }

    .hpp-dtc-p-faqs .hpp-dtc-faqs-textContent_group:first-child {
        margin-top: 5rem;
    }

    .hpp-dtc-p-faqs .hpp-dtc-faqs-textContent_group {
        margin: 5rem 0;
    }

    .how-sq-helps .imgzoom picture:after {
        display: none !important;
    }

    .imgzoom picture img {
        width: 75%;
        margin: auto;
    }

    .imgzoom.full-image picture img {
        width: 100%;
    }

    .main-title {
        font-size: 44px !important;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect_cards .card .description {
        text-align: center;
        margin-top: 0;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .question .text::before {
        top: 11rem;
    }

    [data-module=PageSubnav] .jumpbtn {
        margin-bottom: 15px;
    }

    .hpp-dtc-m-hpp-patient-support-form_form {
        padding: 0 13rem;
    }

    [data-module=FullStack] h2 {
        font-size: 42px;
        margin-bottom: 40px;
    }

    .hpp-dtc-icons-panel__content .content-holder .image-holder {
        text-align: right;
    }

    .hpp-dtc-icons-panel__content .content-holder .secondary-content {
        border-bottom: none;
    }

    .secondary-content:after {
        content: "";
        position: absolute;
        left: 10%;
        bottom: 0;
        height: 1px;
        width: 80%;
        /* or 100px */
        padding: 5rem 0 4rem;
        border-bottom: 0.1rem solid rgb(150 150 150 / 50%);
    }

    .hpp-dtc-icons-panel.hpp-conditions .main-content .mainDescription,
    .hpp-dtc-icons-panel.hpp-conditions .main-content .mainTitle {
        padding: 0 4.3rem;
    }

    .icon-separate {
        padding-left: 36px;
    }

    .hpp-dtc-icons-panel__content .content-holder .icon-separate .title {
        margin-bottom: 1rem;
    }

    .hpp-dtc-icons-panel__content .content-holder .icon-separate .description {
        margin-top: 0rem;
    }

    [data-module=CenteredFullStack] {
        padding-top: 0;
    }

    [data-module=CalloutBlock].iq .l-ten {
        width: 100%;
        left: 30px;
    }

    .iq .l-grid {
        padding-left: 20px;
        padding-right: 20px;
    }

    [data-module=CalloutBlock].iq .callout {
        padding: 40px 30px 40px 75px;
    }

    .how-sq-helps.numbers-section {
        margin-top: 40px !important;
    }

    .starter-kit__img-container.imgzoom picture::after {
        display: none;
    }

    .hpp-dtc-m-starter-kit__content__area__btns {
        max-width: 100%;
        margin-top: 2.2rem;
        margin-left: 4.2rem;
    }

    .hpp-dtc-m-hero.internal-hero .content .hero-box.request-a-starter-kit-hero-box h3 {
        font-size: 4.2rem;
        line-height: 4.2rem;
    }

    .heecol .hero-box {
        max-width: 100% !important;
    }

    .hpp-dtc-m-hero.internal-hero.resources-hero .content .hero-box {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
        padding-right: 20rem !important;
        padding-left: 5rem !important;
    }

    .hpp-dtc-m-hero.internal-hero.resources-hero.heecol .content .hero-box h3 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .hpp-dtc-m-hero.heecol .content {
        margin-top: 15rem !important;
        z-index: 2;
    }

    .hpp-dtc-life-with__content .description.onesource::before {
        top: 5.8rem !important;
    }

    .hpp-dtc-m-hpp-patient-support-form_form.onesource {
        padding: 0 5rem;
    }

    .logo.onesource {
        margin-right: 0;
    }

    .journey-title {
        font-size: 26px !important;
        margin: 0 0 50px !important;
    }

    .hpp-dtc-m-card {
        width: 100%;
    }

    .hpp-dtc-m-hero.internal-hero.here-for-you-hero.peer-connect .content {
        margin-bottom: 0rem;
    }

    .hpp-dtc-m-hpp-patient-support-form_form.peer-connect {
        padding: 0 6rem;
    }

    .hpp-dtc-p-here-for-you .hpp-dtc-looking-for-resources__content .description {
        width: 100%;
    }
}