/* Hero */
.hpp-star-section[data-module=HeroModule] {
  align-items: flex-start;
}

.hpp-star-section[data-module=HeroModule] .HeroCalloutCntr:after {
  display: none;
}

.hpp-star-section form .select-wrap:after {
  top: 48px;
}

.hpp-star-section[data-module=HeroModule] .row.mx-0:after {
  content: "";
  background: #fff;
  box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
  -webkit-box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
  -moz-box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
  width: 100%;
  border-top-left-radius: 100px;
  position: relative;
  display: block;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 100px;
}

.hpp-dtc-m-hero.hpp-star-section .content {
  z-index: 2;
}

.hpp-dtc-m-hero.hpp-star-section .hero-bg img {
  object-position: top;
}

.hpp-star-section .l-ten {
  left: 8.33333%;
  width: 83.33333%;
}

.hpp-star-section .green-text {
  color: var(--dark-green);
  font-weight: bold;
  margin-bottom: 20px;
}

.hpp-dtc-m-hpp-patient-support-form_form .btn {
  font-family: azo-sans-web, Arial, sans-serif;
  color: var(--dark-green);
  background: transparent;
  border-radius: 0;
  border: 1px solid var(--dark-green);
  font-weight: 700;
  font-size: 14px;
  box-shadow: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  transition: all .3s ease-out;
  letter-spacing: .1em;
  position: relative;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

.hpp-dtc-m-hpp-patient-support-form_form .btn:hover {
  background: var(--dark-green);
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--white);
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .hpp-star-section[data-module=HeroModule] .HeroCalloutCntr:after {
    display: block;
    bottom: 95px;
    z-index: 1;
  }

  .hpp-dtc-m-hero.hpp-star-section .content {
    margin-bottom: 3rem;
    padding: 0 15px;
  }

  .hpp-dtc-m-hero.internal-hero.sign-up-hero .content .pre-title {
    left: 0;
    margin-top: 8.5rem;
  }

  .hpp-dtc-m-hpp-patient-support-form {
    padding-top: 1rem;
    background-color: var(--white);
    position: relative;
    z-index: 3;
    margin-top: -1rem;
  }
}

@media screen and (min-width: 992px) {
  .hpp-star-section .pre-title {
    position: relative;
    left: -9%;
  }

  .hpp-star-section .hero-box {
    position: relative;
    top: 10%
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .hpp-dtc-m-hero.hpp-star-section .hero-bg img {
    object-position: right;
  }

  .hpp-dtc-m-hero.internal-hero.sign-up-hero .content .hero-box {
    max-width: 55rem;
    margin-top: -5rem;
  }
}

@media (min-width: 1200px) {
  .hpp-dtc-m-hero.internal-hero.hpp-dtc-m-hero.hpp-star-section .content .hero-box.quote {
    max-width: 650px;
  }
}

@media (min-width: 1600px) {
  .hpp-dtc-m-hero.hpp-star-section .hero-bg img {
    object-position: center
  }
}