.topmenu li a,
.navbar-collapse .nav li a {
  color: var(--dark-green);
}


header.site-header {
  background: none;
}

[data-module=FullStack] h2 {
  /* font-family: Druk, Arial, sans-serif; */
  font-family: druk-bold, sans-serif;
  margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  /* .icon-bar {
    background-color: var(--dark-green);
  } */

  #navbar-collapse.show.add li a {
    color: var(--white);
  }
}

@media (min-width: 992px) {
  .site-header .container .d-flex.jcnt-end .logo {
    margin-left: 0;
  }

  .site-header .container .d-flex.jcnt-end .logo img {
    width: 167px;
  }
}

@media (min-width: 1024px) {
  .hpp-dtc-footer__content {
    padding-inline: 2.15rem;
  }
}