.topmenu li a,
.navbar-collapse .nav li a {
  color: var(--dark-green);
}


header.site-header {
  background: none;
}

[data-module=FullStack] h2 {
  font-family: Druk, Arial, sans-serif;
  margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .icon-bar {
    background-color: var(--dark-green);
  }

  #navbar-collapse.show.add li a {
    color: var(--white);
  }
}