.hpp-dtc-p-home .hpp-dtc-lets-connect_cards.step-2 .card .description {
    margin: 5rem 1rem -2rem;
}

.hpp-dtc-p-home .hpp-dtc-lets-connect_title .secondary-title {
    height: 32px;
}

.hpp-dtc-lets-connect_form .message .text::before {
    top: 7.9rem;
}

.hpp-dtc-lets-connect_form .form .intro h2,
.hpp-dtc-lets-connect_form .thank-you .intro h2 {
    padding-bottom: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hpp-dtc-lets-connect_slide-pagination {
        top: 0 !important;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .row .form {
        margin: 0;
        min-width: auto;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .row {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 1440px) {

    .hpp-dtc-lets-connect_slide-pagination .next,
    .hpp-dtc-lets-connect_slide-pagination .prev,
    .hpp-dtc-lets-connect_slide-pagination .results {
        margin: 0 0 5.4rem;
    }
}

@media screen and (min-width: 768px) {
    #intro > div.video-wrap.hpp-dtc-m-hero-video {
        height: 371px !important;
    }

    #intro > div.row.mx-0 > div > div.hero-box {
        margin-top: 4rem !important;
    }
}

@media screen and (min-width: 992px) {
    #intro > div.video-wrap.hpp-dtc-m-hero-video {
        height: auto !important
    }

    #intro > div.row.mx-0 > div > div.hero-box {
        margin-top: 1.6rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .hpp-dtc-p-home .hpp-dtc-lets-connect_cards {
        padding-top: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .hpp-dtc-p-home .hpp-dtc-lets-connect_cards {
        padding-top: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .hpp-dtc-life-with__content .description::before {
        top: 11rem;
        left: -6rem;
    }

    #intro.hpp-dtc-m-hero .content {
        padding: 0 15px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .hpp-dtc-lets-connect_cards {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .hpp-dtc-lets-connect_cards {
        padding: 1rem 2rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .hpp-dtc-m-hero.home-hero .hero-box {
        max-width: 55rem;
        margin-top: 100px;
    }

    #intro.hpp-dtc-m-hero .content {
        padding-right: 1.5rem;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .hpp-dtc-life-with__content .description::before {
        top: 12rem;
    }

    #intro.hpp-dtc-m-hero .content {
        padding-right: 1.5rem;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 992px) {
    body > div:nth-child(5) > section.hpp-dtc-life-with.container-fluid > div > div > div:nth-child(1) {
        max-width: 45% !important;
    }
}

/* =========================== QUIZ ============================================ */

.hpp-dtc-lets-connect_form .form-check label:before {
    transform: translateY(-3px);
}

#question3 > div.text {
    padding: 3.5rem 0 0 5.5rem;
}

#question3 > div.text::before {
    top: 10.5rem;
    left: -0.6rem;
}

.hpp-dtc-lets-connect_form .message {
    padding: -2.2rem 2.3rem;
}

@media screen and (min-width: 992px) {
    body > div:nth-child(5) > section.hpp-dtc-lets-connect.container-fluid > div > div.row > div.col-12.hpp-dtc-lets-connect_form.p-0.step-3 > div > div.row {
        margin: 0 !important;
        gap: 1rem;
        padding: 0 !important;
    }

    body > div:nth-child(5) > section.hpp-dtc-lets-connect.container-fluid > div > div.row > div.col-12.hpp-dtc-lets-connect_form.p-0.step-3 > div > div > div.order-md-1.col-12.col-md-8.form {
        margin: 0 !important;
        min-width: auto !important;
        flex: auto !important;
        width: 61rem;
    }

    .hpp-dtc-lets-connect_form .form, .hpp-dtc-lets-connect_form .thank-you {
        width: 61rem;
        flex: auto;
        align-self: center;
    }
}

@media screen and (min-width: 1199px) {
    body > div:nth-child(5) > section.hpp-dtc-lets-connect.container-fluid > div > div.row > div.col-12.hpp-dtc-lets-connect_form.p-0.step-3 > div > div.row {
        gap: 3rem;
    }
}

@media screen and (max-width: 991px) {
    .hpp-dtc-lets-connect_cards .card {
        padding: 1rem 2.5rem;
        align-items: center;
    }

    .hpp-dtc-p-home .hpp-dtc-lets-connect_cards.step-2 .card .description {
        margin: 0 !important;
    }
}

/* =========================== QUIZ ============================================ */