.hpp-dtc-p-home .hpp-dtc-lets-connect_cards.step-2 .card .description {
  margin: 5rem 1rem -2rem;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .hpp-dtc-lets-connect_slide-pagination {
    top: 0 !important;
  }

  .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .row .form {
    margin: 0 !important;
    min-width: auto !important;
  }

  .hpp-dtc-p-home .hpp-dtc-lets-connect .step-3 .row {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1440px) {

  .hpp-dtc-lets-connect_slide-pagination .next,
  .hpp-dtc-lets-connect_slide-pagination .prev,
  .hpp-dtc-lets-connect_slide-pagination .results {
    margin: 0 0 5.4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hpp-dtc-p-home .hpp-dtc-lets-connect_cards {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hpp-dtc-p-home .hpp-dtc-lets-connect_cards {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .hpp-dtc-life-with__content .description::before {
    top: 8.5rem;
    left: -6rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .hpp-dtc-lets-connect_cards {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .hpp-dtc-m-hero.home-hero .hero-box {
    max-width: 55rem;
    margin-top: 100px;
  }

  #intro.hpp-dtc-m-hero .content {
    padding-right: 1.5rem;
    margin-bottom: 50px;
  }
}