.hpp-dtc-m-hero .hero-bg::before {
    display: none;
}

[data-module=HeroModule] .HeroCalloutCntr:after {
    display: none;
}

.mainTitle {
    font-weight: 700;
    line-height: 1;
    font-family: 'Druk-bold', Arial, sans-serif;
    margin-bottom: 0;
    letter-spacing: 2px;
    color: #005d55;
    font-size: 45px;
}

[data-module=PageSubnav] .jumpbtn {
    margin-top: -70px !important;
}

.lg-curve {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    padding: 38px 0;
    border-top-left-radius: 100px;
    box-shadow: 0 -70px 50px 0 rgba(0, 0, 0, .3)
}

[data-module=PageSubnav] .js-accordion__header {
    cursor: auto !important;
}

.starter-kit-btns:hover {
    color: #00a8e1;
}

.submit-btn {
    /* font: normal normal bold 16px/24px Azo Sans; */
    border: 1px solid var(--dark-green);
    font-family: 'azo-sans-web';
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: var(--dark-green);
    text-transform: uppercase;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.starter-kit__img-container.imgzoom picture::after {
    pointer-events: none;
    content: "";
    cursor: default;
    position: absolute;
    left: calc(50% - 75px);
    background-image: url('../images/how-strensiq-helps/tap-to-zoom.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 27px;
    bottom: -32px;
}

.needs-validation .submit-btn {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--dark-green);
    color: var(--white);
}

@media (min-width: 320px) and (max-width: 767px) {

    .lg-curve {
        display: none;
    }

    .needs-validation .submit-btn {
        width: 220px;
        font-size: 14px !important;
        height: 60px;
        line-height: 20px !important
    }

    .hpp-dtc-m-hero .hero-bg {
        background-color: #f2f2f2;
    }

    #howtorequest .main-image {
        scale: 1.25;
    }

    .starting-strensiq-hero .hero-box {
        position: relative;
        bottom: 12%;
        padding: 33px;
    }

    .starting-strensiq-hero .pre-title {
        position: relative;
        bottom: 12%;
    }

    .starting-strensiq-hero .hero-box p {
        margin-bottom: 15px;
    }

    .hero-box .header.upper {
        font-size: 42px !important;
    }

    .img-mbl-scale {
        transform: scale(1.5);
    }

    .logo {
        padding: 0px !important;
    }

    .hero-p {
        padding-top: 0px;
    }

    [data-module=PageSubnav] .jumpbtn {
        margin-top: -72px !important;
    }

    .starting-strensiq-hero .pre-title {
        margin-top: 42px;
    }

    .tips-hero .request-a-starter-kit-hero-box {
        margin-top: -5%;
    }

    #howtorequest.hpp-dtc-m-next-steps-form {
        padding-bottom: 1rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .logo {
        padding: 0px !important;
    }

    .hero-box {
        min-height: 27.3rem !important;
    }

}

@media screen and (min-width: 992px) {
    [data-module=HeroModule] .row.mx-0:after {
        content: "";
        background: #fff;
        box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
        -webkit-box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
        -moz-box-shadow: 0px -50px 50px 0px rgb(0 0 0 / 49%);
        width: 100%;
        border-top-left-radius: 100px;
        position: relative;
        display: block;
        left: 0;
        bottom: 0;
        z-index: -1;
        height: 100px;
    }

    .tips-hero .request-a-starter-kit-hero-box {
        max-width: 50rem !important;
        padding-left: 7rem;
        min-height: auto;
        position: relative;
        bottom: 30%;
        left: -4%;
    }

    .starter-kit__img-container.imgzoom picture::after {
        display: none;
    }
}

@media (min-width: 992px) {
    .hpp-dtc-m-hero .content {
        margin-bottom: 30px;
    }

    .hpp-dtc-m-hero.internal-hero .content .pre-title {
        margin-top: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .pagesubnavstickpoint {
        background-color: white;
        margin-top: -3rem;
    }

    .pagesubnavstickpoint.scrolled {
        margin-top: 0;
    }
}

@media (max-width: 1023px) {
    [data-module=HeroModule] {
        align-items: flex-start;
    }

    .hpp-dtc-m-hero .content .pre-title {
        margin-top: 0;
    }

    .hpp-dtc-m-hero.internal-hero .hero-bg img {
        top: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1150px) {
    .hpp-dtc-m-starter-kit__content__area img {
        max-width: 500px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    [data-module=PageSubnav] .jumpbtn {
        margin-top: -100px !important;
        margin-bottom: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 9999px) {
    /* [data-module=PageSubnav] .pagesubnavcntr span>button {
        margin-right: 46px;
    } */
}

@media screen and (min-width: 992px) {
    .hpp-dtc-m-hero.internal-hero.starting-strensiq-hero .content {
        padding: 0 15px;
        margin-bottom: 25px;
    }

    .starting-strensiq-hero .pre-title {
        left: -8.5rem;
    }
}